body {
display: flex;
margin: 0px;
padding: 0px;
background-color: blue;
color: white;
font-family: 'Yeongwol';   
flex-direction: column;
height: 100vh;
}

@font-face {
    font-family: 'Yeongwol';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2507-2@1.0/YeongwolTTF-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
header {
    display: flex;
    padding: 16px;
    /*background-color: yellow;*/
    /*color: black;*/
    justify-content: flex-end;

}

footer {
    display: flex;
    padding: 16px;
    /*background-color: black;*/
    /*color: white;*/

}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.title {
    font-size: 64px;

}

.menu-item {
font-size: 32px;
}

